@font-face {
    font-family: 'circlesmedium';
    src: url('circles-webfont.eot');
    src: url('circles-webfont.eot?#iefix') format('embedded-opentype'),
         url('circles-webfont.woff') format('woff'),
         url('circles-webfont.ttf') format('truetype'),
         url('circles-webfont.svg#circlesmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
